@import url('https://fonts.cdnfonts.com/css/league-spartan');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.cdnfonts.com/css/nexa-bold');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'League Spartan', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nexa', sans-serif;
  }

  p {
    font-family: 'Glacial Indifference', sans-serif;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}